    <h1>Moje artykuły</h1>
<?php foreach($block->getPosts() as $post): ?>
    <h2><a href="<?php echo $block->getPostUrl($post);?>"><?php echo $post->getTitle(); ?></a></h2>
    <p><?php echo $post->getContent(); ?></p>
<?php endforeach; ?>
    <p><?php echo $block->getProductBySku('24-MB01')->getName(); ?></p>
    <p><?php echo $block->getInCmsByCategoryId(2); ?></p>
    <?php foreach($block->getCategoriesByInCms('dfssfd') as $category): ?>
    <p><?php echo $category->getId(); ?></p>
    <?php endforeach; ?>